button {
  border: none;
  background: transparent;
}

.button {
  padding: 12px 24px;
  /*background-color: var(--main-color);*/
  border: none;
  border-radius: 8px;
  color: var(--font-color-button);

  background: linear-gradient(to right bottom, blue, pink);

}

.button:hover {
  filter: brightness(90%);
}

.button__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

