.button {
  padding: 12px 24px;
  /*background-color: var(--main-color);*/
  background: linear-gradient(to bottom right, blue, pink);
  border: none;
  border-radius: 8px;
  color: var(--font-color-button);
  transition: background 2s linear;
}

.button:hover {
  background: linear-gradient(to top right, blue, pink);
}

.button__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

