.intro {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  padding: 13px;
  color: var(--font-color-light-theme);
  transition: color 700ms ease-in-out;
}

.intro.dark {
  color: var(--font-color-dark-theme);
}

.intro__description {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.intro__avatar-wrapper {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  outline: 4px solid var(--main-color);
}

.intro__avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}